{% extends "./base.html" %}
{% block body %}
<div class="container">
    <h1 >Inventarios de la sala informatica UDC</h1>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card" style="margin-left: 1rem;">
            <div class="card-body" >
                <form action="/registrarComputador/" method="POST" style="margin: 1rem;">{% csrf_token %}
                    <legend class="le">Ingreso</legend>
                    <div class="from-group">
                        <input type="text" id="txtNumero" name="txtNumero" class="form-control" placeholder="Numero" maxlength="6" required>
                    </div>
                    <div class="from-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="6" required>
                    </div>
                    <div class="from-group">
                        <input type="text" id="txtMonitor" name="txtMonitor" class="form-control" placeholder="Monitor" maxlength="6" required>
                    </div>
                    <div class="from-group">
                        <input type="number" id="txtTeclado" name="txtTeclado" class="form-control" placeholder="Teclado" min="1" max="3" maxlength="1" required>
                    </div>
                    <div class="from-group">
                        <input type="number" id="txtRaton" name="txtRaton" class="form-control" placeholder="Raton" min="1" max="3" maxlength="1" required>
                    </div>
                    <div>
                        <div class="from-group">
                           <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-success" type="submit">Enviar</button>
                            </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
            <table class="table table-borderless">
                <legend>Tabla de informacion</legend>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de entrada</th>
                        <th>Marca</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>USB</td>
                        <td>DeLL</td>
                    </tr>
                </tbody>
            </table>
    </div>
<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Monitor</th>
                    <th>Teclado</th>
                    <th>Raton</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for t in Entradas %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{t.id}}</td>
                    <td>{{t.nombre}}</td>
                    <td>{{t.monitor}}</td>
                    <td>{{t.teclado}}</td>
                    <td>{{t.raton}}</td>
                    <td><a href="/edicionComputador/{{t.id}}" class="btn btn-info">Actualizar</a></td>
                    <td><a href="/eliminarC/{{t.id}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}