{% extends "./base.html" %}

{%block body%}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body" >
                    <form action="/editarC/" method="POST" style="margin: 1rem;">{% csrf_token %}
                        <legend >Ingreso</legend>
                        <div class="from-group">
                            <input type="text" id="txtNumero" name="txtNumero" value="{{entrada.id}}" class="form-control" placeholder="Numero" maxlength="6" readonly required >
                        </div>
                        <div class="from-group">
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" value="{{entrada.nombre}}" placeholder="Nombre" maxlength="6" required>
                        </div>
                        <div class="from-group">
                            <input type="text" id="txtMonitor" name="txtMonitor" class="form-control" value="{{entrada.monitor}}" placeholder="Monitor"  maxlength="6" required>
                        </div>
                        <div class="from-group">
                            <input type="number" id="txtTeclado" name="txtTeclado" class="form-control" value="{{entrada.teclado}}" placeholder="Teclado" min="1" max="3" maxlength="1" required>
                        </div>
                        <div class="from-group">
                            <input type="number" id="txtRaton" name="txtRaton" class="form-control" value="{{entrada.raton}}" placeholder="Raton" min="1" max="3" maxlength="1" required>
                        </div>
                        <div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-success" type="submit">Enviar</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}