venv/

# Ignorar archivos de migraciones de la base de datos
*/migrations/

# Ignorar archivos estáticos generados
/staticfiles/

# Ignorar archivos de registro
*.log

# Ignorar archivos temporales
*.swp
*.swo
*.sqlite3
